
@{
    ViewBag.Title = "Projects";
}

<h2>Projects List</h2>
<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("CreateProject","Projects")')"><i class="fa fa-plus"></i> Add New Project</a>
<table id="projects-table" class="display">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Project Description</th>
            <th>Project Code</th>
            <th></th>
        </tr>
    </thead>
</table> 
@section scripts{ 
    <script>
        var Popup; 
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Project Details',
                        height: 500,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        } 
    </script>
    }